#game{
  background-color: antiquewhite;
}
.field {
  margin: 40px auto;
  padding: 0px;
  border: 1px solid black;
  width: 385px;
  cursor: pointer;
}
.container{
  width: 384px;
  height: 133px;
  margin: 0px auto;
  text-align: center;
  display: flex;
  background-color: aquamarine;
}
.container .tile{
  width: 128px;
  border: 1px solid black;
}
div[data-index="1"]{
  background: url("img/buggy.png") no-repeat top center;
}
/* div[data-index="2"]{
  background: url("img/buggy.png") no-repeat top center;
} */
